cachetools 
certifi==2020.6.20
cffi 
Flask==1.1.2
itsdangerous==1.1.0
jedi 
Jinja2==2.11.2
jsonschema 
Keras-Applications 
Keras-Preprocessing==1.1.0
packaging==20.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL 
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
PySocks 
tensorflow==2.1.0
tensorflow-estimator==2.1.0
webencodings==0.5.1
Werkzeug==0.16.1
