<!DOCTYPE HTML>
<html>
<head><title>Reverse Image Search </title></head>

<body>
<h1> Reverse Image Search </h1>
<form action="" method="POST" enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=upload>
</form>
<p>Result : {{result}} </p>
{% if result != "waiting for input" %}
<p> Redirecting to google search results in <span id="countdowntimer">5 </span> Seconds</p>
<script type="text/javascript">
    var timeleft = 5;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);
</script>
<meta http-equiv = "refresh" content = "{{url}}" />
{% endif %}

</body>
</html>
<!--"https://www.google.com/search?sxsrf=ALeKk00F8i1SsnVuwDrznVIyS0gKPEWxsg%3A1602139893261&source=hp&ei=9bZ-X8KSDdHy9QOK6Z2gCA&q="+{{result}}"&oq="+{{result}}+"&gs_lcp=CgZwc3ktYWIQAzIFCAAQyQMyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BAgjECc6CQgAEMkDEAoQQzoECC4QQzoECAAQQzoICAAQsQMQgwE6BQgAELEDOgcIABDJAxBDOgUIABCRAjoCCC46CAguELEDEIMBOggIABDJAxCRAjoHCAAQFBCHAjoKCC4QxwEQowIQQzoNCAAQsQMQyQMQRhD5AToHCAAQsQMQCjoFCC4QsQM6CAgAELEDEMkDUP8VWNMlYJMnaABwAHgAgAGcAogB4xeSAQYwLjMuMTGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiC4dyZtKTsAhVReX0KHYp0B4QQ4dUDCAc&uact=5"-->